source https://nuget.org/api/v2

nuget FSharp.Data 2.2.5
nuget FSharp.Formatting
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Charting 0.90.9
nuget Extended.Wpf.Toolkit 2.4
nuget LibGit2Sharp

github fsharp/FAKE modules/Octokit/Octokit.fsx

http https://download.sysinternals.com/files/handle.zip

