source https://nuget.org/api/v2

nuget FSharp.Data 2.1.1
nuget FSharp.Formatting 2.9.1
nuget FSharpVSPowerTools.Core 1.8.0
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Charting 0.90.9
nuget Extended.Wpf.Toolkit 2.4
nuget FSharpx.TypeProviders 1.5.3

github fsharp/FAKE modules/Octokit/Octokit.fsx

http https://download.sysinternals.com/files/Handle.zip