##############################################################################
## User specific configuration
## Author: Jin Li
## Date: Jan. 2015                                                      
## Configuration specific to each user (please edit this file for your own usage)
##############################################################################
if (-Not $port) {
	# port used by your client
	Set-Variable -Name port -Value 1002 -Scope 1
}

if (-Not $jobport) {
	# port used by your client
	Set-Variable -Name jobport -Value '1100-1149' -Scope 1
}
	
if (-Not $rootSrcFolder) {
	# A shared folder to deploy the application. The preferred share folder is located on a server, asWindows client OS has limitation on # of shared file access that it can host
	Set-Variable -Name rootSrcFolder -Value '\\OneNet20\share\jinl\PrajnaAzure' -Scope 1
}

if (-Not $localSrcFolder) {
	# Src folder that contains the latest PrajnaClient code in the local machine
	Set-Variable -Name localSrcFolder -Value 'h:\msr\2015\work\fsharp' -Scope 1
}

if (-Not $targetSrcDir) {
	# Src folder that contains the latest PrajnaClient code in the remote machine
	Set-Variable -Name targetSrcDir -Value '\PrajnaSourceJinL' -Scope 1
}

if (-Not $logdir) {
	# Log folder at remote machine
	Set-Variable -Name logdir -Value 'c:\OneNet\Log\JinL' -Scope 1
}

if (-Not $verbose) {
	# verbose level of the test program that executes at the local machine
	# 3: minimum log
	# 4: if you are intersted to see operation details. 
	# 6: detailed log (may severely impact performance)
	Set-Variable -Name verbose -Value '4' -Scope 1
}

if (-Not $clientverbose) {
	# verbose level of the remote program that executes in the cluster
	# 3: minimum log
	# 4: if you are intersted to see operation details. 
	# 6: detailed log (may severely impact performance)
	Set-Variable -Name clientverbose -Value '4' -Scope 1
}

if (-Not $homein) {
	# report back server
	# This is the machine in which the PrajnaController will run to capture the cluster configuration information. 
	# It only needs to be run once. 
	Set-Variable -Name homein -Value 'imhub.cloudapp.net' -Scope 1
} 

if (-Not $memsize) {
	# memory limitation of the Prajna program. 
	Set-Variable -Name memsize -Value 4000 -Scope 1
} 

if (-Not $User) {
	# Holds the remote username used to launch the Prajna daemon program (PrajnaClient.exe)
	Set-Variable -Name User -Value "localhost\imhub" -Scope 1
}

if (-Not $CredentialFile) {
	# Holds the remote credential used to launch the Prajna daemon program (PrajnaClient.exe)
	Set-Variable -Name CredentialFile -Value "C:\Users\jinl\Documents\CredAzure" -Scope 1
}

# Additional Deployment folder to be copied to the remote machine. 

Set-Variable -Name AdditionalDeploy -Value @"
"@ -Scope 1
